<!doctype html>
<html lang="en">
    <head>
        <title>{{tmpl_pagetitle}}</title>
        <base href="/">
        <meta charset="utf-8">
        <meta name="description" content="{{tmpl_metadesc}}">
        <meta name="keywords" content="{{tmpl_metakeys}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="revisit" content="5 days">
        <meta name="revisit-after" content="5 days">
        <meta name="robots" content="index,all">
        <meta name="copyright" content="{{tmpl_srvname}}">

        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="resources/skins/akin/css/pheix.css?{{tmpl_timestamp}}" rel="stylesheet">
        <link href="resources/skins/akin/css/hamburgers.css?{{tmpl_timestamp}}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.10.0/js/all.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="resources/skins/akin/js/api.js?{{tmpl_timestamp}}"></script>
        </head>
    <body>
        <div class="container _phx-nohpad pheix-canvas bg-white">
            <div class="pheix-navy _phx-nomrg _phx-nopad">
                <nav class="navbar navbar-expand-lg navbar-light bg-light _phx-shadbot">
                    <a class="navbar-brand" href="/">
                        <div class="_phx-opacity-2">
                            <div class="d-none d-xl-block d-lg-block">
                                <i class="fas fa-desktop fa-1x" title="Pheix on desktop"></i>
                            </div>
                            <div class="d-none d-sm-block d-lg-none d-xl-none">
                                <i class="fas fa-tablet-alt fa-1x" title="Pheix on tablet"></i>
                            </div>
                            <div class="d-sm-none">
                                <i class="fas fa-mobile-alt fa-1x" title="Pheix on mobile"></i>
                            </div>
                        </div>
                    </a>
                    <button class="d-lg-none navbar-toggler border-0 p-0 mt-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger hamburger--collapse p-0">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item px-lg-3 _phx-cntr pheix-item-delim pheix-mob-fsz"><a
                                class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
                            <li class="nav-item px-lg-3 _phx-cntr pheix-item-delim pheix-mob-fsz"><a class="nav-link"
                                href="https://narkhov.pro/blog.html" target="_blank">Blog</a></li>
                            <li class="nav-item dropdown px-lg-3 _phx-cntr pheix-item-delim pheix-mob-fsz">
                                <a class="nav-link dropdown-toggle pheix-dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Presentations</a>
                                <div class="dropdown-menu shadow pheix-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="pheix-dropdown-link dropdown-item" href="presentation">Swiss Perl Workshop 2019</a>
                                    <a class="pheix-dropdown-link dropdown-item" href="tpc20cic">The Perl Conference in the Cloud 2020</a>
                                </div>
                            </li>
                            <li class="nav-item px-lg-3 _phx-cntr pheix-item-delim pheix-mob-fsz"><a class="nav-link"
                                href="https://gitlab.com/pheix-pool/core-perl6" target="_blank">Repository</a></li>
                            <li class="nav-item px-lg-3 _phx-cntr pheix-item-delim pheix-mob-fsz"><a class="nav-link"
                                href="https://narkhov.pro/contact-information.html">Feedback</a></li>
                            <li class="nav-item px-lg-3 _phx-cntr pheix-mob-fsz"><a class="nav-link" href="/#donate">Donate</a></li>
                        </ul>
                    </div>
                    <div class="pheix-logotext _phx-nopad d-none d-lg-block">PHEIX</div>
                </nav>
            </div>
            <div class="pheix-space">
                <div class="pheix-content _phx-nomrg _phx-nopad">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 _phx-nomrg _phx-vpad30 _phx-pos-inherit">
                                {{{tmpl_content}}}
                            </div>
                            <div class="col col-lg-4 d-none d-xl-block d-lg-block  _phx-vpad30 _phx-bg-fc-linear _phx-tmrg7">
                                <div class="pheix-card">
                                    <div class="pheix-card-header">Blog</div>
                                    <div class="pheix-card-body">
                                        <div class="_phx-ccc _phx-bmrg7 _phx-fnt10">Posted: 28 June 2020 by <b>Kostas</b>.</div>
                                        <strong>Creating secure decentralized CMS on Ethereum blockchain with Raku</strong><br>
                                        The talk <a href="https://narkhov.pro/creating-secure-decentralized-content-management-systems-on-ethereum-blockchain-with-raku.html" target="_blank">was successfully performed</a> at The Perl Conference in The Cloud 2020 this Friday. It was the great experience! We have 50+ registered and over 60 online attendees at the peak during online streaming (Zoom+YouTube). Check out <a href="http://perl6.mac-webtech/tpc20cic" target="_blank">slides</a> and <a href="https://youtu.be/h-ymtopR30o" target="_blank">video</a>!
                                    </div>
                                </div>
                                <div class="_phx-wrap25"></div>
                                <div class="pheix-card">
                                    <div class="pheix-card-header">Heartbeat</div>
                                    <div class="pheix-card-body">
                                        <p class="_phx-nomrg _phx-nopad"><a href="https://gitlab.com/pheix-pool/core-perl6/-/releases/v0.10.0" target="_blank"><b>Private β-version Release</b></a></p>
                                        <div class="_phx-ccc _phx-bmrg7 _phx-fnt10">Posted: 20 June 2020 by Kostas</div>
                                        Today Pheix <strong>private beta version</strong> was released. This release has full Ethereum blockchain support, ~100% coverage tests and representation layer generic implementation. Our test net is still at development stage with strict access, so you can try Pheix features by request — just <a href="#email">email us</a> and we will send you integration instructions. Track our news feed: we will announce Public beta release details ASAP.
                                        <hr>
                                        <p class="_phx-nomrg _phx-nopad"><a href="https://narkhov.pro/the-perl-conference-2020-in-the-cloud.html" target="_blank"><b>The Perl Conference in the Cloud</b></a></p>
                                        <div class="_phx-ccc _phx-bmrg7 _phx-fnt10">Posted: 15 June 2020 by Kostas</div>
                                        The talk <a href="https://tpc20cic.sched.com/event/cDdo/creating-secure-decentralized-content-management-systems-on-ethereum-blockchain-with-raku" target="_blank">Creating secure decentralized content management systems on Ethereum blockchain with Raku</a> will be performed at Conference in the Cloud (The Perl Conference 2020) on 26th June at 1:00 pm. There will be a few references to <strong>Pheix</strong>. The conference will take place on Zoom, registering will allow you to join all sessions and communicate with the speakers — just <a href="https://www.eventbrite.com/e/conference-in-the-cloud-a-perl-raku-conference-tickets-103163865900" target="_blank">buy your ticket</a>!
                                        <hr>
                                        <p class="_phx-nomrg _phx-nopad"><a href="https://narkhov.pro/xxvi-mitap-soobshchestva-blokchejn-razrabotchikov.html" target="_blank"><b>26th SPb blockchain community meetup</b></a></p>
                                        <div class="_phx-ccc _phx-bmrg7 _phx-fnt10">Posted: 5 April 2020 by Kostas</div>
                                        Practical part of <a href="https://narkhov.pro/querying-the-ethereum-blockchain-nodes-with-raku-gpw2020.html" target="_blank">Querying the Ethereum blockchain nodes with Raku</a> was successfully presented at 26th Saint Petersburg blockchain community meetup. Updated <a href="https://prezi.com/view/hzc0IZph2ryAAJ7mofn3" target="_blank">slides</a> and <a href="https://narkhov.pro/vzaimodejstvie-s-uzlami-ethereum-iz-prilozhenij-na-yazyke-raku.html" target="_blank">video</a> are online!
                                        <hr>
                                        <p class="_phx-nomrg _phx-nopad"><a href="https://narkhov.pro/querying-the-ethereum-blockchain-nodes-with-raku-gpw2020.html" target="_blank"><b>German Perl & Raku Workshop 2020</b></a></p>
                                        <div class="_phx-ccc _phx-bmrg7 _phx-fnt10">Posted: 09 March 2020 by Kostas</div>
                                        The talk <a href="https://prezi.com/view/flHhmrheFe53q2JxheGo/" target="_blank">«Querying the Ethereum blockchain nodes with Raku»</a> with a few references to Pheix CMS has been performed at German Perl and Raku <a href="https://act.yapc.eu/gpw2020/" target="_blank">Workshop</a> 2020. It was great to meet German perl mongers and to be the part of the largest and the most prestigious EU workshop. <a href="https://youtu.be/1KZSJQro5aE" target="_blank">Video</a> is online, enjoy it!
                                        <hr>
                                        <p class="_phx-nomrg _phx-nopad"><a href="https://gitter.im/pheixcms/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank"><b>Pheix Gitter chat</b></a></p>
                                        <div class="_phx-ccc _phx-bmrg7 _phx-fnt10">Posted: 22 December 2019 by Kostas</div>
                                        <strong>Gitter</strong> is impressive tool to get quick answer to Pheix CMS related questions from core developers. Please feel free to get in touch and share your thoughts there. See U!
                                        <hr>
                                        <p class="_phx-nomrg _phx-nopad"><a href="https://gitlab.com/pheix/lzw-revolunet-perl6/" target="_blank"><b>LZW::Revolunet</b></a></p>
                                        <div class="_phx-ccc _phx-bmrg7 _phx-fnt10">Posted: 19 September 2019 by Kostas</div>
                                        I’m proud to <a href="https://narkhov.pro/lzw-revolunet-fast-lempel-ziv-welch-compression-with-raku.html" target="_blank">introduce</a> core-dependency module <b>LZW::Revolunet</b> — Raku/Perl6 implementation of universal lossless data compression algorithm created by Abraham Lempel, Jacob Ziv, and Terry Welch.
                                        <hr>
                                        <p class="_phx-nomrg _phx-nopad"><a href="http://act.perl-workshop.ch/spw2019/talk/7648" target="_blank"><b>Swiss Perl Workshop 2019</b></a></p>
                                        <div class="_phx-ccc _phx-bmrg7 _phx-fnt10">Posted: 31 August 2019 by Kostas</div>
                                        «Pheix: Perl6-based CMS with data storing on blockchain» talk was presented at <a href="http://act.perl-workshop.ch/spw2019/schedule?day=2019-08-17" target="_blank" >day 2</a> of Swiss Perl Workshop 2019. <a href="https://narkhov.pro/swiss-perl-workshop-2019.html" target="_blank">Video</a> is online, enjoy it!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pheix-social _phx-cntr">
                    <p>
                        <a href="https://twitter.com/condemnedcell" target="_blank" title="Follow Pheix on Twitter"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://www.linkedin.com/in/knarkhov/" target="_blank" title="Follow Pheix on LinkedIn"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.youtube.com/user/cxcxproject" target="_blank" title="Follow Pheix on Youtube"><i class="fab fa-youtube-square"></i></a>
                    </p>
                </div>
                <div class="pheix-footer _phx-cntr">
                    © {{tmpl_update_year}}. Powered by <a href="https://pheix.org" target="_blank">PHEIX</a> v{{tmpl_version}}. <span class="pheix-render-block">Render time: <span class="text-secondary" id="pheix_render_time">0.0</span> sec.</span>
                </div>
            </div>
        </div>
        <a id="back-to-top" href="#" class="pheix-to-top"><i class="fas fa-arrow-alt-circle-up"></i></a>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script type="text/javascript" src="resources/skins/akin/js/bbro.min.js?ts={{tmpl_timestamp}}"></script>
        <script type="text/javascript" src="resources/skins/akin/js/captcha.js?ts={{tmpl_timestamp}}"></script>
        <script type="text/javascript" src="resources/skins/akin/js/hamburgers.js?{{tmpl_timestamp}}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 50) {
                        $('#back-to-top').fadeIn();
                    } else {
                        $('#back-to-top').fadeOut();
                    }
                });
                $('#back-to-top').click(function () {
                    $('body,html').animate({ scrollTop: 0 }, 800);
                    return false;
                });
            });
        </script>
        {{{tmpl_bigbrojs}}}
    </body>
</html>
